<!-- 會員模式/角色故事 -->
{% extends "headbase.html" %}
  {% block style%}
<link rel="stylesheet" href = "{{url_for('static', filename = 'main.css')}}"">
{% endblock style%}

{% block content %}
  <div class = "sqare">
    <h1>角色故事</h1>
    <div class = "play">
    <div id="carouselExampleIndicators" class="carousel  carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static',filename='images/29.jpg') }}" class="d-block" style="height:600px; width:600px;" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static',filename='images/27.jpg') }}" style="height:600px; width:600px;" class="d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static',filename='images/26.jpg') }}" class="d-block" style="height:600px; width:600px;" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
    <div class = "play">
  <h6>第一隻噗啾馬為台灣馬，之後陸續推出國旗系列、種族系列及節日特別馬等等。</h6></div>
</div>
 {% endblock content %} 